.entry{id: "#{entry.id}"}
  .entry-image
    = entry.img ? image_tag(entry.img) : image_tag("no_image.jpg")
  .entry-content
    %h1= entry.name
    %p.entry-description
      = "  #{convert_source(entry.source)}  #{entry.category}  #{entry.city}  #{time_ago_in_words entry.happend_at}前"
  .entry-right
    %h1= convert_price(entry.price)
    %p
      = link_to '原帖链接', entry.product, target: "_blank"
