%tr{id: "#{entry.id}", class: 'entry'}
  %td.pic
    .thumbnail= entry.img ? image_tag(entry.img) : image_tag("no_image.jpg")
  %td.title= entry.name
  %td.price= entry.price
  %td= entry.city
  %td= entry.source
  %td.time= "#{time_ago_in_words entry.happend_at}å‰"
