%table.table-minimal
  %tbody
    - @entries.each do |entry|
      %tr
        %td= image_tag(entry.img)
        %td= entry.name
        %td= entry.price
        %td= entry.city
        %td= entry.source
        %td= I18n.l entry.happend_at
      %tr
        %td.content{colspan: 6}
          = raw entry.full_content

= paginate @entries
.clear
