%table
  %thead
    %th name
    %th img
    %th product
    %th price
    %th city
    %th source
    %th happend_at
  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.name
        %td= image_tag(entry.img)
        %td= entry.product
        %td= entry.price
        %td= entry.city
        %td= entry.source
        %td= entry.happend_at

= paginate @entries
