%header.centered-navigation
  .centered-navigation-wrapper
    %a.mobile-logo
      = image_tag("estao.png")
    %ul.centered-navigation-menu
      %li.nav-link.logo
        %a.logo{href: "javascript:void(0)"}
          = image_tag("estao.png")
      %li.nav-link
        %a{href: "javascript:void(0)"} 关于二手淘
      %li.nav-link
        %a{href: "javascript:void(0)"} 关于我们
      %li.nav-link
        %a.modal-show.special{data: {for: "modal-special"}, href: "javascript:void(0)"} 特别提示
      %li.nav-link
        %a.modal-show{data: {for: "modal-keyboard"}, href: "javascript:void(0)"} 快捷键
      %li.nav-link
        = link_to "留言", disqus_path
      %li.nav-link
        %a{href: "javascript:void(0)"} 开发日志
  .centered-navigation-search
    = form_for User.new, html: { id: 'subscibe' } do |f|
      = f.email_field :email
      = f.submit '搜索'
    .clear
    #notice
      = display_notice_and_alert 
