.modal
  %input#modal-us.modal-state{type: "checkbox"}
  .modal-window
    .modal-inner.modal-us
      %label.modal-close{data: {for: "modal-us"}}
      %h1 关于我们
      %hr/
      %p.body
        .us
          .us-image
            = image_tag("us/ken.png")
          .us-content
            %h1 KENLU
            %p
            %p.us-detail
              = "mail: ken@yankist.com"
              = link_to "twitter", "https://twitter.com/ken_lv"
              = link_to "weibo", "https://weibo.com/u/1402235887"
              = link_to "github", "https://github.com/hlee"
        .us
          .us-image
            = image_tag("us/caok.jpeg")
          .us-content
            %h1 CAOK
            %p 关注Web, 移动, 创业. (ruby, javascript)
            %p.us-detail
              = "mail: caok1231@gmail.com"
              = link_to "twitter", "https://twitter.com/caok1231"
              = link_to "weibo", "https://weibo.com/kaicao"
              = link_to "github", "https://github.com/caok"
        .us
          .us-image
            = image_tag("us/xiongbo027.png")
          .us-content
            %h1 XIONGBO027
            %p 喜动漫，美剧，读书，编程. (c#, ruby, javascript)
            %p.us-detail
              = "mail: xiongbo027@gmail.com"
              = link_to "twitter", "https://twitter.com/xiongbo027"
              = link_to "weibo", "https://weibo.com/xiongbo027"
              = link_to "github", "https://github.com/xiongbo"
